h1 {
	color: red;
}

h2 {
	color: green; font-size: 1.8rem;
}

body {
	font-size: 1.3rem;
}

      .float-container {
         background-color: lightblue;
         padding: 20px;
      }

      .float-container audio {
         float: left;
         padding: 10px;
	  }

    .recording {
		background-color: yellow;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		vertical-align: center;
		align-items: center;
		border: 2px solid blue;
		margin: 1px;
    }

    .play {
		min-width: min-content;
		flex-grow: 0;
		flex-shrink: 0;
		background-color: orange;
		vertical-align: center;
		padding-top: 5px;
		border: 3px solid maroon;
    }
	  
	.description {
		background-color: lightyellow;
		padding-left: 0.5rem;
		flex-grow: 1;
		flex-basis: 50%;
		h2, h3, h4 {
			text-align:center;
		/*	border: 2px solid red; */
		}
		h3, h4, p, li {
			vertical-align: center;
			margin: 0;
			margin-left: 2px;
			padding: 2px;
		}
		/*border: 2px solid green;*/
	}
